@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  /* min-height: 100%;
  height: 100%;
  width: 100%; */
}

/* body {
  @apply bg-gray-100 text-gray-700 antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
} */


@layer base {
  .page-layout {
    @apply flex min-h-screen flex-col items-center;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }

  /*custom buttons*/
  .btn-small {
    @apply text-xs font-bold py-2 px-3 rounded;
  }
  .btn-large {
    @apply text-base font-bold py-2 px-8 rounded;
  }
  .btn:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-green-outline {
    @apply rounded-md bg-green-50 text-green-700 border border-green-600/20;
  }
  .btn-green-outline:hover {
    @apply bg-green-100;
  }
  .btn-green-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-blue-outline {
    @apply rounded-md bg-blue-50 text-blue-700 border border-blue-600/20;
  }
  .btn-blue-outline:hover {
    @apply bg-blue-100;
  }
  .btn-blue-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-orange-outline {
    @apply rounded-md bg-orange-50 text-orange-700 border border-orange-600/20;
  }
  .btn-orange-outline:hover {
    @apply bg-orange-100;
  }
  .btn-orange-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }

  .btn-green-link{
    @apply bg-none text-green-700 border-none;
  }
  .btn-green-link:hover{
    @apply rounded-md bg-green-50 text-green-700 border border-green-600/20;
  }
  .btn-blue-link{
    @apply bg-none text-blue-700 border-none;
  }
  .btn-blue-link:hover{
    @apply rounded-md bg-blue-50 text-blue-700 border border-blue-600/20;
  }
  .btn-orange-link{
    @apply bg-none text-orange-400 border-none;
  }
  .btn-orange-link:hover{
    @apply rounded-md bg-orange-50 text-orange-700 border border-orange-600/20;
  }

  /*custom badge*/
  .badge-gray {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-gray-400 border border-gray-400;
  }
  .badge-green {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-green-400 border border-green-400;
  }
  .badge-blue {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-blue-400 border border-blue-400;
  }
  .badge-orange {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-orange-400 border border-orange-400;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 599px) {
    .page-layout {
      @apply px-2 py-4 mx-2;
    }
    h1 {
      @apply text-2xl;
    }
    h4 {
      @apply text-base;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .page-layout {
      @apply px-2 py-4 mx-2;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .page-layout {
      @apply px-2 py-8 mx-4;
    }
  }

  /* Large devices (large portrait tablets/laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .page-layout {
      @apply mx-10 px-4 py-8;
    }
  }

  /* Extra large devices (large laptops and desktops, 1280px and up) */
  @media only screen and (min-width: 1280px) {
    .page-layout {
      @apply mx-12 py-6;
    }
  }
}

@layer components {
  .card {
    @apply block p-2 text-gray-600 text-left border border-blue-200 border-dashed rounded-2xl bg-white relative;
  }
  .card .info {
    @apply mt-1 text-xs;
  }

  @media only screen and (max-width: 600px) {
    .card {
      @apply w-auto h-auto;
    }
  }
}
