@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
}

@layer base {
  /*custom page layout*/
  .page-layout {
    @apply flex min-h-screen flex-col items-center xl:mx-12 lg:mx-10 md:mx-4 sm:mx-2 xs:mx-2 xl:px-4 lg:px-4 md:px-2 sm:px-2 xs:px-2 xl:py-10 lg:py-8 md:py-8 sm:py-4 xs:py-4;
  }
  /*custom list*/
  .post-list {
    @apply grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-3 my-4;
  }
  /*custom card*/
  .card {
    @apply p-2 text-gray-600 border border-gray-200 border-dotted rounded-2xl bg-white relative;
  }

  h1 {
    @apply text-4xl font-bold xs:text-2xl;
  }
  h2 {
    @apply text-3xl font-bold xs:text-xl;
  }
  h3 {
    @apply text-2xl font-bold xs:text-lg;
  }
  h4 {
    @apply text-xl font-bold xs:text-base;
  }

  a {
    @apply font-semibold to-blue-500 decoration-inherit;
  }
  a:hover {
    @apply to-blue-700;
  }

  /*custom buttons*/
  .btn-small {
    @apply text-xs font-bold py-2 px-3 rounded;
  }
  .btn-large {
    @apply text-base font-bold py-2 px-8 rounded;
  }
  .btn:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-green-outline {
    @apply rounded-md bg-green-50 text-green-700 border border-green-600/20;
  }
  .btn-green-outline:hover {
    @apply bg-green-100;
  }
  .btn-green-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-blue-outline {
    @apply rounded-md bg-blue-50 text-blue-700 border border-blue-600/20;
  }
  .btn-blue-outline:hover {
    @apply bg-blue-100;
  }
  .btn-blue-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }
  .btn-orange-outline {
    @apply rounded-md bg-orange-50 text-orange-700 border border-orange-600/20;
  }
  .btn-orange-outline:hover {
    @apply bg-orange-100;
  }
  .btn-orange-outline:disabled {
    @apply bg-transparent text-gray-400 border border-gray-400;
  }

  .btn-green-link {
    @apply bg-none text-green-700 border-none;
  }
  .btn-green-link:hover {
    @apply rounded-md bg-green-50 text-green-700 border border-green-600/20;
  }
  .btn-blue-link {
    @apply bg-none text-blue-700 border-none;
  }
  .btn-blue-link:hover {
    @apply rounded-md bg-blue-50 text-blue-700 border border-blue-600/20;
  }
  .btn-orange-link {
    @apply bg-none text-orange-400 border-none;
  }
  .btn-orange-link:hover {
    @apply rounded-md bg-orange-50 text-orange-700 border border-orange-600/20;
  }

  /*custom badges*/
  .badge-gray {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-gray-400 border border-gray-400;
  }
  .badge-green {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-green-400 border border-green-400;
  }
  .badge-blue {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-blue-400 border border-blue-400;
  }
  .badge-orange {
    @apply inline-flex rounded-full p-2 text-xs font-bold bg-transparent text-orange-400 border border-orange-400;
  }
}
