@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



@layer base {
  .page-layout {
    @apply flex min-h-screen flex-col items-center;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
 /*custom buttons*/
.btn-small {
  @apply text-xs font-bold py-1 px-3 rounded;
}
.btn:disabled {
  @apply bg-transparent text-gray-400 border border-gray-400;
}
.btn-blue-outline {
  @apply rounded-md bg-blue-50 text-blue-700 border border-blue-600/20;
}
.btn-blue-outline:hover {
  @apply bg-blue-100;
}
.btn-blue-outline:disabled {
  @apply bg-transparent text-gray-400 border border-gray-400;
}
.btn-green-outline {
  @apply rounded-md bg-green-50 text-green-700 border border-green-600/20;
}
.btn-green-outline:hover {
  @apply bg-green-100;
}
.btn-green-outline:disabled {
  @apply bg-transparent text-gray-400 border border-gray-400;
}
.btn-red-outline {
  @apply rounded-md bg-red-50 text-red-700 border border-red-600/20;
}
.btn-red-outline:hover {
  @apply bg-red-100;
}
.btn-red-outline:disabled {
  @apply bg-transparent text-gray-400 border border-gray-400;
}
.btn-orange-outline {
  @apply rounded-md bg-orange-50 text-orange-700 border border-orange-600/20;
}
.btn-orange-outline:hover {
  @apply bg-orange-100;
}
.btn-orange-outline:disabled {
  @apply bg-transparent text-gray-400 border border-gray-400;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 599px) {
    .page-layout {
      @apply px-2 py-4 mx-2;
    }
    h1 {
      @apply text-2xl;
    }
    h4 {
      @apply text-base;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .page-layout {
      @apply px-2 py-4 mx-2;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .page-layout {
      @apply px-2 py-8 mx-4;
    }
  }

  /* Large devices (large portrait tablets/laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .page-layout {
      @apply mx-6 px-4 py-4;
    }
  }

  /* Extra large devices (large laptops and desktops, 1280px and up) */
  @media only screen and (min-width: 1280px) {
    .page-layout {
      @apply mx-56 px-4 py-10;
    }
  }
}

/* custom form style */

.field {
  @apply my-2;
}
label {
  @apply block text-sm font-semibold text-gray-700;
}
input[type='text'],
textarea {
  @apply w-full px-2 py-1 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-cyan-500 focus:border-cyan-500 focus:outline-none;
}
input:disabled {
  @apply bg-gray-200 text-gray-500;
}
.errors {
  @apply text-sm text-red-500;
}

/* custom form style */

.card {
  height: auto;
  width: 100%;
  padding: 10px 14px;
  /* text-align:center; */
  /* justify-content: center; */
  border-radius: 10px;
  background: #edf2f7 !important;
  border: 2px dashed #cbd5e0 !important;
}
.card .card-title {
  margin-top: 5px;
  font-size: 16px;
}
.card .card-text {
  margin-top: 10px;
  font-size: 12px;
}

